
body
{
  height: 100vh;
}
ul {
  margin : 0;
  padding : 0;
}
.container
{
  height: 100vh;
}

.image{
  display: flex;
  justify-content: center;
}

.header
{
display: flex;
justify-content: flex-end;
list-style-type: none;
}

.lien
{
 color: #fff;
 font-weight: bold;
 background: #5187EB;
 padding: 5px;
 border-radius: 2px;
}
.lien a:hover
{
 box-shadow: 0px 1px 3px #000;
 text-decoration: none;
}




.centre
{
  height: 80%;
}

.marge1
{
margin-right: 10px;

}

a:link
{
  text-decoration: none;
  color: black;

}

a:hover
{
  text-decoration: underline;

}

.image
{
  margin-bottom: 0.1px;

}

.bouton
{
  opacity: 0.5 ;
  background-color: #E3E3E3;
  display flex;

  font-family: arial;
  font-weight: bold;
  font-size: 13px;
  padding: 16px ;
  margin: 11px 4px 11px 4px ;

}
.bouton:hover{
  opacity: 1 ;
}
#forma
{
  width: 450px;
  height: 38px;
  margin: 25px;
  border-style: outset;
  display: flex;
  justify-content: center;
}

.center2{
  display: flex;
justify-content: center;
}

.center3{
  display: flex;
  justify-content: center;

}
.premieretage
{
  border-bottom: 1px solid #D2D2D2;
  border-top: 1px solid #D2D2D2;
  margin-left: 20px;
  font-family: arial;
  font-size: 13px;
  color: #6B6A6A;
  padding: 0.5px;

}

.deuxiemeetage
{
  display: flex;
  justify-content: space-between;

}
.deuxiemeetage ul {
  padding : 10px;
  font-family: arial;
  color: #6B6A6A;
  font-size: 13px;

}

footer
{
  background-color: #E3E3E3;
}

.droite {
display: flex;
justify-content: flex-end;
list-style: none;


}
